body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.body-content {
    background-color: antiquewhite;
    width: 450px;
    height: 600px;
}